#
# BlogApp v1.0
# 
# Author: Christian Rasmussen <christian.rasmussen@me.com>
#

#
# Disable directory listing
#

Options -Indexes


#
# Rewrite rules
#

<IfModule mod_rewrite.c>
    RewriteEngine on
    
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [L]
    
    RewriteRule ^([\w-_]*)/?([\w-_]*)/?$ index.php?page=$1&id=$2 [QSA]
</IfModule>
